.main-container {
  position: relative;
  width: 600px; /* Increased width */
  height: 600px; /* Increased height */
  margin: 0 auto;
  background: #576b7d;
  border: 1px solid #ffffff;
  overflow: hidden;
  border-radius: 2px;
  box-sizing: border-box;
}


.group {
  position: absolute;
  top: 45px;
  left: 175px;
  font-size: 30px;
  color: #ffffff;
  font-family: Jost, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.text {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
}

.box-8 {
  margin-top: 80px;
}

.mb-3, .d-flex {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

label {
  margin-right: 10px;
  font-size: 16px;
}

.wrapper-6 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn-primary {
  background-color: #2d3648;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type="tel"] {
  padding-left: 10px;
}

input[type="text"],
input[type="email"] {
  font-size: 16px;
}

input[type="date"] {
  font-size: 16px;
}
